.deck-container
  %a.deck-prev-link{:href => "#", :title => "Previous"} â†
  %a.deck-next-link{:href => "#", :title => "Next"} â†’

  - for n in 1..4
    - image_file = "Slide#{n}.jpg"
    %section.slide.backgroundimg{id: "slide#{n}", style: "background-image: url(#{image_path image_file});"}

  :coffee
    $ ->
      $.deck '.slide'